body{
    font-family: Arial, sans-serif;
    display: flex ;
    justify-content: center;
    align-items: center;
    background: paleturquoise;
    display: flex;
    height: 100vh;
}
.login-container {
    width: 300px;
    background: #fff ;
    padding: 20px;
    border-radius: 8px;
    color: red;
}
 h2{
    text-align: center;
    font-size: 40px;
}
 .input-group{
    width: 100%;
    margin-bottom: 10px;
}
label {
    font-weight: bold;
}
input[type="text"],
input [type="password"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
button:hover{
    background-color: #0056b3;
}







